baseURL = 'https://eunkwangchoi.com'
title = 'the texts'
theme = 'write-only'
copyright = 'Copyright 2025 Eunkwang Ryan Choi. All Rights Reserved.'
summaryLength = 20
defaultContentLanguage = 'en'
ignoreLogs = ['warning-goldmark-raw-html']

[params]
  contact = ["ryan.choi@arteuro.net"]
  images = ['opengraph-texts.png']
  logo = "favicon.png"
  math = true

[services]
  [services.googleAnalytics]
  id = 'G-SGXH2E8Q74'

[markup]
  [markup.tableOfContents]
    endLevel = 3
    ordered = false
    startLevel = 1
  [markup.goldmark]
    [markup.goldmark.parser]
      autoHeadingID = true
    [markup.goldmark.renderer]
      unsafe = true
    [markup.goldmark.extensions]
      [markup.goldmark.extensions.cjk]
        eastAsianLineBreaks = true
        eastAsianLineBreaksStyle = 'simple'
        enable = true
        escapedSpace = true
      [markup.goldmark.extensions.extras]
        [markup.goldmark.extensions.extras.delete]
          enable = true
        [markup.goldmark.extensions.extras.insert]
          enable = true
        [markup.goldmark.extensions.extras.mark]
          enable = true
        [markup.goldmark.extensions.extras.subscript]
          enable = true
        [markup.goldmark.extensions.extras.superscript]
          enable = true
      [markup.goldmark.extensions.passthrough]
        enable = true
        [markup.goldmark.extensions.passthrough.delimiters]
          block = [['$$', '$$']]
          inline = [['\(', '\)']]

[menus]
  [[menus.main]]
    name = "Posts"
    url = "/posts"
    weight = 10
  [[menus.main]]
    name = "Docs"
    url = "/docs"
    weight = 20
  [[menus.main]]
    name = "Repos"
    url = "/repos"
    weight = 30
  [[menus.main]]
    name = "About"
    url = "/about"
    weight = 40
  [[menus.buttons]]
    name = "Button"
    url = "/#"
    weight = 10
    pre = "btn btn-primary text-dark"
  [[menus.footer]]
    name = "Art"
    url = "/arts"
    weight = 10
  [[menus.footer]]
    name = "Tec"
    url = "/techs"
    weight = 20
  [[menus.footer]]
    name = "Ref"
    url = "/refs"
    weight = 30
  [[menus.footer]]
    name = "Etc"
    url = "/etcs"
    weight = 40

[taxonomies]
  art = 'arts'
  tech = 'techs'
  ref = 'refs'
  etc = 'etcs'

[related]
  includeNewer = true
  threshold = 80
  toLower = false
  [[related.indices]]
    name = 'arts' 
    type = 'fragments'
    weight = 1
  [[related.indices]]
    name = 'techs'  
    type = 'fragments'
    weight = 1
  [[related.indices]]
    name = 'refs'
    type = 'fragments'
    applyFilter = true
    weight = 1
  [[related.indices]]
    name = 'etcs'
    type = 'fragments'
    weight = 1

[languages]
  [languages.en]
    disabled = false
    languageCode = 'en-US'
    languageName = 'English'
    timeZone = 'America/New_York'
    weight = 1
    [languages.en.params]    
      author = 'Eunkwang Ryan Choi'
      description = 'Eunkwang Ryan Choi -- Artist, Writer, and Researcher'
      location = ["Seoul", "South Korea"]
  [languages.ko]
    disabled = false
    languageCode = 'ko-KR'
    languageName = '한국어'
    timeZone = 'Asia/Seoul'
    weight = 2
    [languages.ko.params]
      author = '최은광'
      description = '최은광 -- 아티스트, 작가, 연구자'
      location = ["서울", "대한민국"]
  [languages.ja]
    disabled = false
    languageCode = 'ja-JP'
    languageName = '日本語'
    timeZone = 'Asia/Tokyo'
    weight = 3
    [languages.ja.params]
      author = '崔恩光'
      description = '崔恩光 -- アーティスト, 作家, 研究者'
      location = ["ソウル", "大韓民国"]
  [languages.zh]
    disabled = false
    languageCode = 'zh-CN'
    languageName = '中文'
    timeZone = 'Asia/Shanghai'
    weight = 4
  [languages.vi]
    disabled = false
    languageCode = 'vi-VN'
    languageName = 'Tiếng Việt'
    timeZone = 'Asia/Ho_Chi_Minh'
    weight = 5
  [languages.th]
    disabled = false
    languageCode = 'th-TH'
    languageName = 'ภาษาไทย'
    timeZone = 'Asia/Bangkok'
    weight = 6
  [languages.mn]
    disabled = false
    languageCode = 'mn-MN'
    languageName = 'Монгол'
    timeZone = 'Asia/Ulaanbaatar'
    weight = 7

[sitemap]
  changeFreq = ''
  disable = false
  filename = 'sitemap.xml'
  priority = -1