{{ define "main" }}
<main class="container py-5 flex-grow-1">
  <div class="row justify-content-center">
    <div class="col-12 mw-md mh-100">
      <div class="py-4">
        <div class="py-2">
          <h1 class="display-1 text-center text-uppercase fw-bold text-primary">
            {{ .Title }}
          </h1>
          {{ partial "shared/post-meta" . }}
          {{ partial "shared/post-categories" . }}
        </div>
        <div class="text-center py-2">
          {{ .Description }}
        </div>
        <div class="markdown-content py-2">
          {{ if and (.TableOfContents) (eq (.Params.toc | default false) true) }}
          <nav class="toc">
            {{ .TableOfContents }}
          </nav>
          {{ end }}
        </div>
        <div class="text-center py-2 mt-5">
          {{ partial "ints/i18nlist" . }}
        </div>
        <div class="markdown-content py-2">
          {{ .Content }}
        </div>
        <div class="py-4">
          {{ partial "shared/related" . }}     
        </div>
      </div>
    </div>
  </div>
</main>
{{ end }}
