{{ define "main" }}
<main class="container py-5 flex-grow-1">
  <div class="row justify-content-center">
    <div class="col-12 mh-100">
      {{ $mainPages := .Site.RegularPages }}
      {{ $pagination := .Paginate $mainPages }}
      {{ range $pagination.Pages }}
        {{ partial "shared/post-item.html" . }}
      {{ end }}
    </div>
    <div class="row">
      <div class="col-12 d-flex justify-content-center py-5">
        {{ template "_internal/pagination.html" . }}
      </div>
    </div>
  </div>
</main>
{{ end }}
