{{ define "main" }}

<main class="container py-5 flex-grow-1">

  <div class="row justify-content-center">
    <div class="col-12 mh-100">

      <div>
        <h1 class="display-1 text-center text-uppercase fw-bold text-primary py-3">
          {{ .CurrentSection.Title }}
        </h1>
      </div>
      <div class="text-center mb-5">
        {{ .CurrentSection.Params.description }}
      </div>

      <!-- Combine .RegularPages and .Sections -->
      {{ $allPages := .RegularPages }}
      {{ range .Sections }}
        {{ $allPages = $allPages | append . }}
      {{ end }}
      <!-- Paginate Combined Pages -->
      {{ $paginator := .Paginate ($allPages.ByTitle) 10 }}

      {{ range .Paginator.Pages }}
        <article class="py-4">
          <div class="py-2">
            <h2 class="display-6 text-center text-uppercase fw-bold text-primary">
              <a href="{{- .RelPermalink -}}">{{- .LinkTitle -}}</a>
            </h2>
            {{ partial "shared/post-meta" . }}
            {{ partial "shared/post-categories" . }}            
            <div class="text-center py-2">
              {{- .Description -}}
            </div>   
          </div>
        </article>  
      {{ end }} 

      <div class="row">
        <div class="col-12 d-flex justify-content-center py-5">
          {{ template "_internal/pagination.html" . }}
        </div>
      </div>

    </div>
  </div>
</main>

{{ end }}
