{{ define "main" }}

<main class="container py-5 flex-grow-1">

  <div class="row justify-content-center">
    <div class="col-12 mh-100">

      {{/* Use Scratch to conditionally modify the title */}}
      {{ .Scratch.Set "displayTitle" .Title }}
      {{ if in .Title "/ " }}
        {{ $parts := split .Title "/ " }}
        {{ .Scratch.Set "displayTitle" (index $parts 1) }}
      {{ end }}

      <div>
        <h1 class="display-1 text-center text-uppercase fw-bold text-primary py-4">
          {{ .Scratch.Get "displayTitle" }}
        </h1>
      </div>
      <div class="text-center mb-5">
        {{ .Params.description }}
      </div>

      {{ .Content }}
      {{ range .RegularPages }}
        <article class="py-4">
          <div class="py-2">
            <h2 class="display-6 text-center text-uppercase fw-bold text-primary">
              <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            </h2>
            {{ partial "shared/post-meta" . }}
            {{ partial "shared/post-categories" . }}            
            <div class="text-center py-2">
              {{- .Description -}}
            </div>   
          </div>
        </article>          
      {{ end }}

    </div>
  </div>
</main>
{{ end }}
